.aui-progress {
  position: relative;
  line-height: 1;
}
.aui-progress__text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  font-size: 14px;
  color: var(--progress-text-color);
  line-height: 1;
}
.aui-progress--circle {
  display: inline-block;
}
.aui-progress--circle .aui-progress__text {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin: 0;
  text-align: center;
  transform: translate(0, -50%);
}
.aui-progress--circle .aui-progress__text i {
  display: inline-block;
  vertical-align: middle;
  font-size: 22px;
  font-weight: bold;
}
.aui-progress.is-success .aui-progress-bar__inner {
  background-color: var(--progress-success-color);
}
.aui-progress.is-success .aui-progress__text {
  color: var(--progress-success-color);;
}
.aui-progress.is-exception .aui-progress-bar__inner {
  background-color: var(--progress-danger-color);
}
.aui-progress.is-exception .aui-progress__text {
  color: var(--progress-danger-color);
}
.aui-progress.is-warning .aui-progress-bar__inner {
  background-color: var(--progress-warning-color);
}
.aui-progress.is-warning .aui-progress__text {
  color: var(--progress-warning-color);
}
.aui-progress.is-info .aui-progress-bar__inner {
  background-color: var(--progress-info-color);
}
.aui-progress.is-info .aui-progress__text {
  color: var(--progress-info-color);
}
.aui-progress--without-text .aui-progress__text {
  display: none;
}
.aui-progress--without-text .aui-progress-bar {
  padding-right: 0;
  margin-right: 0;
  display: block;
}
.aui-progress--text-inside .aui-progress-bar {
  padding-right: 0;
  margin-right: 0;
}
.aui-progress-bar {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding-right: 50px;
  margin-right: -55px;
  box-sizing: border-box;
}
.aui-progress-bar__outer {
  position: relative;
  height: 6px;
  background-color: #e4e8f1;
  border-radius: 100px;
  vertical-align: middle;
  overflow: hidden;
}
.aui-progress-bar__inner {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  line-height: 1;
  text-align: right;
  background-color: #20a0ff;
  border-radius: 100px;
}
.aui-progress-bar__innerText {
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
  font-size: 12px;
  margin: 0 5px;
  white-space: nowrap;
}
.aui-progress-bar__striped {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
  animation: progress-bar-stripes 2s linear infinite;
}
@keyframes progress-bar-stripes {
  from {
  background-position: 40px 0;
}
to {
  background-position: 0 0;
}

}

